name: CI/CD & Security Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]

jobs:
  static_application_security_testing:
    name: SAST - SonarQube Testing
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: 游닌 Checkout Code for Testing
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: 游댌 Run SonarQube Static Testing
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
  
  software_composition_analysis:
    name: SCA - Snyk Testing
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: 游닌 Checkout Code for Testing
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: 游댌 Run Snyk to check for vulnerabilities
        uses: snyk/actions/python@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --json-file-output=snyk-results.json

      - name: 游 Upload Snyk JSON results (for DefectDojo or review)
        uses: actions/upload-artifact@v4
        with:
          name: snyk-json
          path: snyk-results.json

      - name: 游닋 Logging snyk results
        run: |
          echo "Snyk results:"
          cat snyk-results.json

  build_image:
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: 游닌 Checkout Code for Building
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: 游냡 Build Docker Image
        run: |
          docker build -t myapp:latest .
          echo "Docker image built successfully."
      
  image_scanning:
    name: Image Scanning with Trivy
    runs-on: ubuntu-latest
    needs: build_image
    steps:
      - name: 游닌 Checkout Code for Scanning
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: 游댌 Scan Docker Image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: myapp:latest
          format: 'json'
          output: 'trivy-results.json'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: 游 Upload Trivy JSON results (for DefectDojo or review)
        uses: actions/upload-artifact@v4
        with:
          name: trivy-json
          path: trivy-results.json
      
      - name: 游닋 Logging Trivy results
        run: |
          echo "Trivy results:"
          cat trivy-results.json